target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.aws-sam/
.idea
cloudSetup/
.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
*.iml
target
.cache
.project
.classpath
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
/.apt_generated/
/.apt_generated_tests/
~*
*.lock
*.bak
*.orig
*.old
*.md.html

pom.xml.versionsBackup
*.flattened-pom.xml
vendor/
*.kate-swp
/extension-manager
/doc/tracing-report.md
/doc/tracing-report.html

/integrationTesting/extensionForTesting/node_modules/
/integrationTesting/extensionForTesting/package-lock.json
/parameterValidator/node_modules/
/parameterValidator/dist/
/coverage.out
