*.sh text eol=lf

.github/workflows/broken_links_checker.yml          linguist-generated=true
.github/workflows/project-keeper.sh                 linguist-generated=true
# Project uses Go 1.23, see https://github.com/exasol/project-keeper/issues/616
#.github/workflows/project-keeper-verify.yml         linguist-generated=true
dependencies.md                                     linguist-generated=true
doc/changes/changelog.md                            linguist-generated=true
go.sum                                              linguist-generated=true

extension-manager-client-java/pk_generated_parent.pom               linguist-generated=true
extension-manager-client-java/versionsMavenPluginRules.xml          linguist-generated=true
extension-manager-client-java/.settings/org.eclipse.jdt.core.prefs  linguist-generated=true
extension-manager-client-java/.settings/org.eclipse.jdt.ui.prefs    linguist-generated=true

extension-manager-integration-test-java/pk_generated_parent.pom               linguist-generated=true
extension-manager-integration-test-java/versionsMavenPluginRules.xml          linguist-generated=true
extension-manager-integration-test-java/.settings/org.eclipse.jdt.core.prefs  linguist-generated=true
extension-manager-integration-test-java/.settings/org.eclipse.jdt.ui.prefs    linguist-generated=true

registry/package-lock.json                                                    linguist-generated=true
extension-manager-integration-test-java/testing-extension/package-lock.json   linguist-generated=true
pkg/extensionController/bfs/udf/poetry.lock                                   linguist-generated=true

pkg/parameterValidator/parameterValidator.js                                  linguist-generated=true
