*.sh text eol=lf

.github/workflows/broken_links_checker.yml          linguist-generated=true
.github/workflows/project-keeper.sh                 linguist-generated=true
.github/workflows/project-keeper-verify.yml         linguist-generated=true
dependencies.md                                     linguist-generated=true
doc/changes/changelog.md                            linguist-generated=true
go.sum                                              linguist-generated=true
extension-manager-integration-test-java/pk_generated_parent.pom               linguist-generated=true
extension-manager-integration-test-java/versionsMavenPluginRules.xml          linguist-generated=true
extension-manager-integration-test-java/.settings/org.eclipse.jdt.core.prefs  linguist-generated=true
extension-manager-integration-test-java/.settings/org.eclipse.jdt.ui.prefs    linguist-generated=true
